# Paper server configs
versions/
logs/
libraries/
cache/
backups/
eula.txt
paper*.jar
usercache.json
version_history.json
.console_history

# Worlds
world/
world_nether/
world_the_end/
lantern/
lantern_nether/
lantern_the_end/


# Plugin jars
plugins/*.jar
plugins/*.bak
plugins/bStats/

# AngelChest
plugins/AngelChest/discord-verification.html
plugins/AngelChest/angelchests/
plugins/AngelChest/logs/
plugins/AngelChest/watchdog

# CommandBook
plugins/CommandBook/homes.csv
plugins/CommandBook/bans*.log
plugins/CommandBook/warps.csv
plugins/CommandBook/spawns.yml
plugins/CommandBook/sessions/

# Craftbook
plugins/Craftbook/uuid-mappings.db

# LuckPerms
plugins/LuckPerms/yaml-storage/users/
plugins/LuckPerms/yaml-storage/actions.txt
plugins/LuckPerms/yaml-storage/uuidcache.txt
plugins/LuckPerms/libs/
plugins/LuckPerms/translations
plugins/LuckPerms/*.db

# Multiverse
plugins/Multiverse-Inventories/players/
plugins/Multiverse-Inventories/groups/
plugins/Multiverse-Inventories/worlds/

# OreAnnouncer
plugins/OreAnnouncer/libraries/
plugins/OreAnnouncer/database.mv.db

# WorldEdit
plugins/WorldEdit/.archive-unpack/

# WorldGuard
plugins/WorldGuard/cache/
plugins/WorldGuard/worlds/

# TAB
plugins/TAB/errors.log
plugins/TAB/placeholder-errors.log
plugins/PlaceholderAPI/expansions/

# Gringotts
plugins/Gringotts/Gringotts.db
plugins/Gringotts/Gringotts.db.*

# CommandHelper
plugins/CommandHelper/.cache/
plugins/CommandHelper/logs/

# Essentials
plugins/Essentials/userdata/
plugins/Essentials/userdata-npc-backup/
plugins/Essentials/warps/
plugins/Essentials/usermap.csv
plugins/Essentials/spawn.yml

# ProtocolLib
plugins/ProtocolLib/lastupdate

# PlaceholderAPI
plugins/PlaceholderAPI/javascripts/javascript_data/

# Dynmap
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/*.pending
plugins/dynmap/web
